*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*If you set box-sizing: border-box; on an element, padding and border are included in the width and height:*/
}


.container{
    /* margin-top: 10px; */
    display: flex;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;    
    -webkit-box-shadow: 1px 1px 38px 17px rgba(148,148,148,1);
    -moz-box-shadow: 1px 1px 38px 17px rgba(148,148,148,1);
    box-shadow: 1px 1px 38px 17px rgba(148,148,148,1);
}

.text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.p-text{
    margin-top: 20px;
}

.container-img{
    width: 250px;
    border-top: 0;
    border-left: 0;
    border-radius: 10px 0 0 10px;
}

.author-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

.author-img{
    height: 50px;
    border-radius: 500px;
}

.name-date{
    margin-left: 20px;
}

.share-icon{
    margin-left: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* padding-left: 10px;
    padding-right: 10px; */
    color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media only screen and (max-width: 1200px) {
    .container{
        flex-direction: column;
        width: 400px;
    }

    .container-img{
        width: 400px;
        border-radius: 10px 10px 0 0;
    }
  }